# A/B Testing
Laptop and Desktop Data

In [1]:
import pandas as pd

desktop = pd.read_csv('desktop.csv')
laptop = pd.read_csv('laptop.csv')

In [4]:
desktop.describe()

          userid     spending        age       visits
count  30.000000    30.000000  30.000000    30.000000
mean   15.500000  1028.666667  35.766667   210.800000
std     8.803408   907.411032  15.199100   311.468203
min     1.000000     0.000000  14.000000     5.000000
25%     8.250000   127.500000  25.500000    46.750000
50%    15.500000   925.000000  32.000000   100.000000
75%    22.750000  1528.250000  44.250000   145.000000
max    30.000000  3400.000000  79.000000  1256.000000

In [5]:
laptop.describe()

          userid     spending        age       visits
count  30.000000    30.000000  30.000000    30.000000
mean   45.500000  1624.566667  38.733333   193.900000
std     8.803408  1252.884222  17.104009   323.071611
min    31.000000     0.000000  16.000000     6.000000
25%    38.250000   957.500000  25.000000    39.250000
50%    45.500000  1419.500000  33.000000    77.500000
75%    52.750000  2199.750000  49.750000   126.000000
max    60.000000  4600.000000  79.000000  1250.000000

In [6]:
import scipy.stats
print(scipy.stats.ttest_ind(desktop['spending'],laptop['spending']))
print(scipy.stats.ttest_ind(desktop['age'],laptop['age']))
print(scipy.stats.ttest_ind(desktop['visits'],laptop['visits']))

TtestResult(statistic=-2.109853741030508, pvalue=0.03919630411621095, df=58.0)
TtestResult(statistic=-0.7101437106800108, pvalue=0.4804606394128761, df=58.0)
TtestResult(statistic=0.20626752311535543, pvalue=0.8373043059847984, df=58.0)